<!-- <div>
<h3>ngIf Directive Example</h3>
<div *ngIf="b" style="background-color: blue;">Congratulations....!!</div>

<div *ngIf="!b" style="background-color: red;">Better Luck next Time</div>
</div> -->
<div>
  <h4>ngSwitch Example</h4>
<select [(ngModel)] ="country">
  <option>India</option>
  <option>USA</option>
  <option>UK</option>
  <option>Japan</option>
  </select>
  <div [ngSwitch]="country">
  <p *ngSwitchCase="'India'">India Details</p>
   <p *ngSwitchCase="'USA'">USA Details</p>
   <p *ngSwitchCase="'UK'">UK Details</p>
   <p *ngSwitchCase="'Japan'">Japan Details</p>
   <p *ngSwitchDefault>Please select country</p>
  </div>
</div>
